<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lab 1: Sorting</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
</head>
<body>
<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <h1>Lab 1: Sorting</h1>
    <hr/>

    <form th:action="@{/pp/lab1/sorting}" th:object="${sortingForm}" method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <a class="btn btn-primary form-control" style="margin-top: 15px;" onclick="toggler('firstData')">First data</a>

                    <div style=" display:none;" id="firstData" th:text="${sortingForm.firstData}"></div>
                    <input type="hidden" th:field="*{firstData}"/>
                </div>
                <div class="col-md-6 col-lg-6">
                    <a class="btn btn-primary form-control" style="margin-top: 15px;" onclick="toggler('secondData')">Second data</a>

                    <div style=" display:none;" id="secondData" th:text="${sortingForm.secondData}"></div>
                    <input type="hidden" th:field="*{secondData}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <button type="submit" class="btn btn-success form-control" name="generate">Generate data</button>
            </div>
            <div class="col-md-6 col-lg-6">
                <button type="submit" class="btn btn-success form-control">Start sorting</button>
            </div>
        </div>
    </form>

</div>
<script>
    function toggler(divId) {
        $("#" + divId).toggle();
    }
</script>
</body>
</html>